.button {
  background-color: inherit;
  border-radius: 3px;
  padding: 2px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: inherit; 
  color: inherit; 
  border: 2px solid #505050;
}

.button1:hover {
  background-color: #505050;
  color: white;
}

.button2 {
  background-color: inherit; 
  color: #008CBA; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: inherit; 
  color: #008CBA; 
  border: 2px solid #505050;
}

.button3:hover {
  background-color: #008CBA;
  color: white;
}

.button4 {
  background-color: inherit;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #inherit;}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}